<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (C) zhourui Company, 2017.All Rights Reserved.
  -->

<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.apache.ibatis" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <logger name="org.mybatis" level="info" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="xyz.zrui.ssm" level="debug" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>